fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-multipart
pyodbc
azure-identity
azure-keyvault-secrets
azure-storage-blob
python-jose[cryptography]
passlib[argon2]
argon2-cffi
gunicorn
slowapi